<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login | Members Only</title>
  <link rel="stylesheet" href="/css/login.css" />
  <link rel="stylesheet" href="/css/flash.css">
 
</head>
<body>
  <div class="form-container">
    <h2>Welcome Back</h2>

    <%- include('partials/flash') %>

    <form action="/auth/login" method="POST">
      <input type="email" name="email" placeholder="Email" required />
      <input type="password" name="password" placeholder="Password" required />
      <button type="submit">Log In</button>
    </form>
    

    <div class="redirect">
      Don't have an account? <a href="/auth/signup">Sign up here</a>
    </div>
  </div>
</body>
</html>
